[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/

# 파일 확장자 기반 무시
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Visual Studio 코드 캐시 및 설정 무시
.vs/
.vscode/

# OS 생성 파일 무시
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
